.container {
    width: 50%;
    height: 100vh;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
}

.grid-container {
    display: grid;
    height: 50rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.3rem;
    margin-top: 1.3rem;
}

